.alert {
    background-color: hsl(var(--b1) / 1);
}

h1, h2, h3, h4, h5, h6, p, a, button, small, i, b {
  color: white;
}

.team-grid .card {
    max-width: 45vh;
}

.flex {
  width: 100%;
  justify-content: center;
}

.bg {
  background-image: url("bird.png");
  background-repeat: repeat;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: 200px;
  width: 100%;
  height: 100%;
  opacity: 0;
}

@media only screen and (min-width: 1080px) {
.wide-on-big-screen {
  width: 75vh;
}
}

.card figure {
  height: 325px;
}

.card .figure2 {
  height: 250px;
}

.fillbg {
  background-size: cover;
  background-position: center;
}